Debug/
Release/
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
compile_commands.json
Makefile
*.mk

.settings/
.metadata/
.idea/
.vscode/

*.launch
*.su
*.map
*.list
*.hex
*.bin
*.elf

.DS_Store
Thumbs.db
